body {
    background-image: url("https://beeldbank.prepublisher.com/pictures/Standaard/LHT/4/LHTC7944.JPG");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 1800px 800px;
    background-position: center;

}


table, th, td {
  border: 1px solid black;
  width: 100%;
  background-color: white;
}

.image1 {  display: block;
  margin-left: auto;
  margin-right: auto;
   }


   .image2 {  display: block;
     margin-left: auto;
     margin-right: auto;
     width: 500px;
     height: 300px;
      }

      #menu {
        text-align: center;
        font-family: cursive;
      }

      #menu li {
        background-color:#d40001;
        color: rgb(255, 225, 225);
        border: 3px solid black;
        border-radius: 1px;
        display: inline;
        padding: 1px;
        text-size: 10px;
      }

      #menu a {
        text-decoration: none;
        color: rgb(255, 225, 225)
      }

      #menu li:hover {
      background-color: red;
      }


h1   {text-align: center;
  font-family: cursive;
  font-style: italic;
  font-size: 75px;
  font-variant: small-caps;
    font-weight: normal;
     color: rgb(0, 0, 0);
   background-color: rgb(255, 255, 255);}

   h2 {text-align: center;
     font-family: cursive;
     font-style: italic;
     font-size: 50px;
     font-variant: small-caps;
       font-weight: normal;
        color: rgb(0, 0, 0);
      background-color: rgb(255, 255, 255);}

      h3 {text-align: center;
        font-family: cursive;
        font-style:  italic;
        font-size: 35px;
        font-variant: small-caps;
          font-weight: normal;
           color: rgb(0, 0, 0);
         background-color: rgb(255, 255, 255);}

        ul {font-size: 45px;
        font-family: cursive;}

        li {font-size: 35px;
        font-family: cursive;}
